body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.Sup{
    width: 402px;
    height: 894px;
background-image: url(https://i.pinimg.com/736x/09/9c/c5/099cc5d324f8338eb48f8e4148b1e0c2.jpg);
}

.Aba{
    background-color: #fbcf96;
     border-radius: 30px;
    padding: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-bottom: 20px;
}




button:hover{
    border:3px solid #b24586;
    background-color: #e46c86;
    color: #0c1414;
}

.Roupas{
    width: 90%;
    height: 90%;
}
img{
    max-width: 50%;
   max-height: 80%;
    border-radius: 10px;
    background-color: #d567a9;
    padding: 4px;
}

.Card{
    background-color: #e46c86;
         width: 30%;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgb(97, 24, 57);
    border-style: dashed;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-height:90% ;
    overflow: auto;
    
   
}

.Roupas{
    background-color: #fbcf96;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      width: 95%;
    height: 30%;  
    align-items: center;
    margin: 0 0 0 0;
    border-radius: 30px;
    margin-bottom: 20px;
    

}

.Indisponivel{
    background-color: #571725;
    color: aliceblue;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 6px;

}

.Disponivel{
    background-color: #1d5717;
    color: aliceblue;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 6px;

}

h3{
    background-color: #b24586;
    color: aliceblue;
    padding: 8px;
}

.Coisas{
   background-color: #e2accc;
  border-radius: 10px;
    padding: 8px;
     margin-bottom: 5px;
}


.Card a{
    text-decoration: none;

}

button {
    background-color: #571725;
        background-color: aliceblue;
      text-decoration: none;
      width:100%;
      border:3px solid #d567a9;
      border-style: dashed;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      color: #0c1414;
      font-family: Irish Grover;
      
}

.Aba button{
    background-color: #fbcf96;
    width: 200%;
     border-radius: 0%;
     border: 1px solid darkgoldenrod;
}


.Aba button:hover{
        background-color: #b78e58;
    width: 210%;
    border-radius: 0%;
}




