.Caixa {
    background-color: rgb(250, 215, 222);
    padding: 15px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 80%;
    border: 6px solid rgb(193, 107, 98);
   border-style: dashed;
    display: flex;
    align-content: center;
}


body {
    
    justify-content: center;
    align-items: center;
    display: flex;

}

.Yk{
    background-color: rgb(225, 194, 194);
    padding: 20px;
    font-size: 20px;
    margin-bottom: 30px;
    font-family:Merriweather;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
}

form button{
    border: 0;
    width: 50%;
    height: 20%;
    line-height: 300%;
    border-radius: 30px;
    
}


h4{
    font-size: 40px;
    
}


button:hover{
    background-color: brown;
    color: aliceblue;
    transition: 0.3s;
}

form{
    display: flex;
    flex-flow: column;

    justify-content: center; 
    width: 100%;  
}

.Sup{
      width: 402px;
    height: 894px;
    background-image: url(https://i.pinimg.com/736x/14/9e/b7/149eb7e90016c29fb50ffb201db880a0.jpg);
    display: flex;
    flex-flow: column;
}

input{
    border: 0;
    padding: 5px;
    width: 100%;
}

select{
    border: 0;
    padding: 5px;
    width: 100%;
}

input:hover{
    background-color: rgb(255, 206, 224);
border: 2px solid brown;
}

select:hover{
    background-color: rgb(255, 206, 224);
border: 2px solid brown;
}

form a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
